<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.3.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json.Akshay" version="5.0.4" targetFramework="net461" />
  <package id="OpenCvSharp4" version="4.6.0.20220608" targetFramework="net461" />
  <package id="OpenCvSharp4.Extensions" version="4.6.0.20220608" targetFramework="net461" />
  <package id="OpenCvSharp4.runtime.win" version="4.6.0.20220608" targetFramework="net461" />
  <package id="Sdcb.PaddleDetection" version="2.2.2" targetFramework="net461" />
  <package id="Sdcb.PaddleInference" version="2.3.2" targetFramework="net461" />
  <package id="Sdcb.PaddleInference.runtime.win64.mkl" version="2.3.2" targetFramework="net461" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.115.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="YamlDotNet" version="11.2.1" targetFramework="net461" />
</packages>