<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="Zach.DataBase.IDatabase,Zach.DataBase" />
    <typeAlias alias="SqlServer" type="Zach.DataBase.SqlServer.Database,Zach.DataBase.SqlServer" />
    <typeAlias alias="MySql" type="Zach.DataBase.MySqlEx.Database,Zach.DataBase.MySqlEx" />
    <typeAlias alias="Oracle" type="Zach.DataBase.Oracle.Database,Zach.DataBase.Oracle" />
    <typeAlias alias="SQLite" type="Zach.DataBase.SQLite.Database,Zach.DataBase.SQLite" />
  </typeAliases>
  <containers>
    <container name="IOCcontainer">
      <type type="IDatabase" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDatabase" mapTo="MySql" name="MySql"></type >
      <type type="IDatabase" mapTo="Oracle" name="Oracle"></type >
      <type type="IDatabase" mapTo="SQLite" name="SQLite"></type >
    </container>
  </containers>
</unity>